
<!DOCTYPE html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<html style="padding: 0; margin: 0;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <style type="text/css">
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  table {
    width: 100%;
  }
}
</style>
</head>

<body style="padding: 0; margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: 'Roboto', sans-serif;">
    <div class="container" style="padding: 0; margin: auto; width: 100%; background-color: #EFEFEF;">
        <table class="table-geral" style="padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; margin: auto; width: 600px; background-color: white;" width="600" bgcolor="white">
            <tr style="padding: 0; margin: 0; width: 100%; text-align: center;" align="center">
                <td class="img" style="margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: block; font-size: 22px; color: #2D3C49; padding: 0; margin-top: 20px;"><img class="logo" src="https://storage.googleapis.com/storage-enggaji/assets/images/email_topo.png" alt="" style="padding: 0; margin: 0; -ms-interpolation-mode: bicubic;"></td>
            </tr>
            
            <tr style="padding: 0; margin: 0; width: 100%; text-align: center;" align="center">
                <td class="h3" style="margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: block; padding: 20px 0 20px 0; font-size: 30px; color: #007AF4; font-weight: 700;"> Olá, {{name}}!</td>
            </tr>
            
            <tr style="padding: 0; margin: 0; width: 100%; text-align: center;" align="center">
                <td style="margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px; display: block; font-size: 22px; color: #2D3C49;"> <img class="ilustracao" style="padding: 0; margin: 0; -ms-interpolation-mode: bicubic; width: 300px;" src="https://storage.googleapis.com/storage-enggaji/assets/images/cellPhoneMen.png" alt="" width="300"> </td>
            </tr>
            
            <tr style="padding: 0; margin: 0; width: 100%; text-align: center;" align="center">
                <td class="pedido" style="margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px; display: block; font-size: 22px; color: #007AF4;"> A Enggaji disponibiliza um processo para a 
                    formação de um caminho profissional. Cada 
                    Enggajador é responsável por seu esforço e 
                    crescimento pessoal. Tem a oportunidade de ser 
                    inovador e um real agente transformador. </td>
            </tr>

            <tr style="padding: 0; margin: 0; width: 100%; text-align: center;" align="center">
                <td class="h4" style="margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px; display: block; font-size: 26px; color: #007AF4; font-weight: 600; margin-bottom: 10px;"> Próximos passos</td>
            </tr>  

            <tr class="card" style="padding: 0; margin: 0; width: 100%; text-align: center;" align="center">
                <td class="circle" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px; display: block; font-size: 22px; margin: auto; color: white; text-align: center; background-color: #007AF4; font-weight: 600; width: 30px; height: 30px; border-radius: 100%;" width="30" height="30" align="center" bgcolor="#007AF4">1</td>
                <td class="box" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: block; font-size: 22px; color: #2D3C49; padding: 20px; margin: 25px auto; width: 70%; height: 100%; background-color: #CCE4E5; border-radius: 30px;" width="70%" height="100%" bgcolor="#CCE4E5">
                    <h5 style="padding: 0; margin: 0; font-size: 24px; color: #007AF4; font-weight: 600; margin-bottom: 10px;">Aprenda com as vantagens</h5>
                    <p style="padding: 0; margin: 0; font-size: 20px; color: #007AF4;">Conheça as oportunidades de produtos e serviços exclusivos disponíveis na plataforma para venda.</p>
                </td>
            </tr>

            <tr class="card" style="padding: 0; margin: 0; width: 100%; text-align: center;" align="center">
                <td class="circle" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px; display: block; font-size: 22px; margin: auto; color: white; text-align: center; background-color: #007AF4; font-weight: 600; width: 30px; height: 30px; border-radius: 100%;" width="30" height="30" align="center" bgcolor="#007AF4">2</td>
                <td class="box" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: block; font-size: 22px; color: #2D3C49; padding: 20px; margin: 25px auto; width: 70%; height: 100%; background-color: #CCE4E5; border-radius: 30px;" width="70%" height="100%" bgcolor="#CCE4E5">
                    <h5 style="padding: 0; margin: 0; font-size: 24px; color: #007AF4; font-weight: 600; margin-bottom: 10px;">Desenvolva as suas habilidades</h5>
                    <p style="padding: 0; margin: 0; font-size: 20px; color: #007AF4;">Receba treinamento e acompanhamento especializado para venda de cada produto ou serviço que mais se identificar. <br style="padding: 0; margin: 0;">O treinamento é totalmente gratuito.</p>
                </td>
            </tr>

            <tr class="card" style="padding: 0; margin: 0; width: 100%; text-align: center;" align="center">
                <td class="circle" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px; display: block; font-size: 22px; margin: auto; color: white; text-align: center; background-color: #007AF4; font-weight: 600; width: 30px; height: 30px; border-radius: 100%;" width="30" height="30" align="center" bgcolor="#007AF4">3</td>
                <td class="box" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: block; font-size: 22px; color: #2D3C49; padding: 20px; margin: 25px auto; width: 70%; height: 100%; background-color: #CCE4E5; border-radius: 30px;" width="70%" height="100%" bgcolor="#CCE4E5">
                    <h5 style="padding: 0; margin: 0; font-size: 24px; color: #007AF4; font-weight: 600; margin-bottom: 10px;">Mãos à Obra</h5>
                    <p style="padding: 0; margin: 0; font-size: 20px; color: #007AF4; padding-top: 15px;">Uma vez que finalizar o treinamento, inicie suas vendas usando apenas seu telefone atuando na sua comunidade e fora dela.<br style="padding: 0; margin: 0;"> Mude sua realidade, não há mais limites para você.</p>
                </td>
            </tr>

            <tr style="padding: 0; margin: 0; width: 100%; text-align: center;" align="center">
                <td class="line" style="margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px; display: block; font-size: 22px; color: #2D3C49; border-bottom: 4px solid #007AF4;">
                    
                </td>
            </tr>

            <tr style="padding: 0; margin: 0; width: 100%; text-align: center;" align="center">
                <td class="h4" style="margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px; display: block; font-size: 26px; color: #007AF4; font-weight: 600; margin-bottom: 10px;">Colaboramos para o crescimento da comunidade</td>
            </tr>

            <tr style="padding: 0; margin: 0; width: 100%; text-align: center;" align="center">
                <td class="text" style="margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px; display: block; font-size: 22px; color: #007AF4;">Estamos unidos em uma Comunidade de Oportunidades. Através da transparência e engajamento total dos Enggajadores, a Enggaji busca contribuir para o crescimento individual e coletivo. </td>
            </tr>
            
            <tr style="padding: 0; margin: 0; width: 100%; text-align: center;" align="center">
                <td class="redesocial" style="margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px; display: block; font-size: 22px; color: #2D3C49;">
                    <a href="https://www.facebook.com/enggaji/" style="padding: 0; margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-decoration: none; color: white;">
                    <img class="social-media" src="https://storage.googleapis.com/storage-enggaji/assets/images/facebook.png" style="padding: 0; margin: 0; -ms-interpolation-mode: bicubic; height: 40px;" height="40">
                  </a>
            
                  <a href="https://www.instagram.com/enggaji/" style="padding: 0; margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-decoration: none; color: white;">
                    <img class="social-media" src="https://storage.googleapis.com/storage-enggaji/assets/images/instagram.png" style="padding: 0; margin: 0; -ms-interpolation-mode: bicubic; height: 40px;" height="40">
                  </a>
            
                  <a href="https://twitter.com/enggaji/" style="padding: 0; margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-decoration: none; color: white;">
                    <img class="social-media" src="https://storage.googleapis.com/storage-enggaji/assets/images/tt.png" style="padding: 0; margin: 0; -ms-interpolation-mode: bicubic; height: 40px;" height="40">
                  </a>
            
                  <a href="https://www.linkedin.com/company/enggaji" style="padding: 0; margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-decoration: none; color: white;">
                    <img class="social-media" src="https://storage.googleapis.com/storage-enggaji/assets/images/Linkedin.png" style="padding: 0; margin: 0; -ms-interpolation-mode: bicubic; height: 40px;" height="40">
                  </a>
            
                  <a href="https://www.youtube.com/enggaji" style="padding: 0; margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-decoration: none; color: white;">
                    <img class="social-media" src="https://storage.googleapis.com/storage-enggaji/assets/images/yt.png" style="padding: 0; margin: 0; -ms-interpolation-mode: bicubic; height: 40px;" height="40">
                  </a></td>
            </tr>

            <tr style="padding: 0; margin: 0; width: 100%; text-align: center;" align="center">
                <td class="link" style="margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px; display: block; font-size: 22px; color: #2D3C49; background-color: #007AF4; border-radius: 0 0 12px 12px;" bgcolor="#007AF4"><a style="padding: 0; margin: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-decoration: none; font-weight: 700; letter-spacing: 5px; font-size: 20px; color: #ffffff;" href="https://enggaji.com.br/">www.enggaji.com</a>
                </td>
            </tr>

        </table>
    </div>
</body>
        
</html>